<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="server=10.0.0.22,20302; database=ESWELCOME; uid=vm3_admin; pwd=dbtest@022.net;pooling=true;max pool size=1000" />
    <!--<add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=Excel 8.0"/>
    <add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0"/>-->
  </connectionStrings>
  <appSettings>
    <!--서버타입(운영:PRD, 기타:LOC, DEV) Start-->
    <add key="SERVER_TYPE" value="LOC" />
    <!--서버타입(운영:PRD, 기타:LOC, DEV) End-->
    <!--서버관리정보 시작-->
    <add key="SITE_TITLE" value="[로컬] ESWELCOME" />
    <add key="ERROR_EMAIL_ADDRESS" value="eswelcomeError@esgroup.net" />
    <add key="SERVICE_NAME" value="[로컬] ESWELCOME" />
    <add key="SERVER_MANAGER" value="ecit.es@esgroup.net;" />
    <add key="XML_EMAIL_ADDRESS" value="ESWXML@esgroup.net" />
    <!--서버관리정보 종료-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EsnAPISoap">
          <security mode="Transport" />
        </binding>
        <binding name="EsnAPISoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api2.e-sang.net/esnapi.asmx" binding="basicHttpBinding" bindingConfiguration="EsnAPISoap" contract="net.e_sang.api2.EsnAPISoap" name="EsnAPISoap" />
    </client>
  </system.serviceModel>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="600" maxRequestLength="40960" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ESNfx" namespace="ESNfx.Web.Controls" assembly="ESNfx.Web.Controls" />
        <add tagPrefix="es" namespace="ESNfx3.Web.Controls" assembly="ESNfx3.Web" />
      </controls>
    </pages>
    <!-- Login 페이지 디폴트 -->
    <urlMappings>
      <add url="~/" mappedUrl="~/schedule/schMain.aspx" />
    </urlMappings>
  </system.web>
</configuration>
<!--ProjectGuid: 2DF14FA1-A59E-46BB-A533-1739E9C12AAC-->