<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="server=10.0.0.22,20302; database=ESWELCOME; uid=vm3_admin; pwd=dbtest@022.net;pooling=true;max pool size=1000" />
    <!--<add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=Excel 8.0"/>
    <add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="600" maxRequestLength="40960" requestValidationMode="2.0" />

    <!-- Login 페이지 디폴트 -->
    <urlMappings>
      <add url="~/" mappedUrl="~/schedule/schMain.aspx"/>
    </urlMappings>

    <pages controlRenderingCompatibilityVersion="4.0">

      <controls>
        <add tagPrefix="ESNfx" namespace="ESNfx.Web.Controls" assembly="ESNfx.Web.Controls" />
        <add tagPrefix="es" namespace="ESNfx3.Web.Controls" assembly="ESNfx3.Web" />
      </controls>

    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EsnAPISoap">
          <security mode="Transport" />
        </binding>
        <binding name="EsnAPISoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api2.e-sang.net/esnapi.asmx" binding="basicHttpBinding" bindingConfiguration="EsnAPISoap" contract="net.e_sang.api2.EsnAPISoap" name="EsnAPISoap" />
    </client>
  </system.serviceModel>
</configuration>